// Section Column3
.section-column3 {
    background: $grey;
    overflow-x: unset;
    padding: 100px 0;
   
   
   .section-column3-inner{
        display: flex;
        gap: 10px;
        align-items: stretch;
        justify-content: space-between;
        flex-flow: row wrap;
        
        .section-column3-title{
            width: 100%;
            padding: 0 0 40px;
        }
        
        .section-column3-column-item{
            width: calc(33% - 10px);
            max-width: 325px;
            text-align: center;
            text-align: -webkit-center;
            
           .section-column3-column-title{
                display: flex;
                justify-content: center;
                width: fit-content;
                max-width: 245px;
                text-align: -webkit-center;
           }
           
           .first.section-column3-column-title{
                max-width: 235px;
            }
           
           .section-column3-column-border{
                border-top: 1px solid $yellow;
                width: 160px;
                margin: 10px 0 20px;
           }
       }
   }
}

//calc((100vw - $grid-container)/2)

//calc((100vw - 95%)/2)

@include mq($breakpoints-mq--480) {
    .section-column3 {
        .section-column3-inner{
            justify-content: center;
            gap: 60px;
            .section-column3-title{
                padding: 0;
            }
            
            .section-column3-column-item{
                width: 100%;
                max-width: 260px;
            }
        }
    }
}